.container {
	min-height: 100vh;
	background: #505050;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.book {
	width: 300px;
	height: 400px;
	background: #be7538;
	position: relative;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transform: perspective(2000px) rotateZ(0);
	transform-style: preserve-3d;
	transition: all 1s ease;
	display: flex;
	flex-wrap: nowrap;
}
.book::before {
	content: "";
	position: absolute;
	width: 295px;
	height: 390px;
	top: 5px;
	left: 0;
	background: lightcyan;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transform-origin: left;
	transition: all 1s ease;
}
.cover {
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: lightcoral;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transform-origin: left;
	transition: all 1s ease;
}
body:has(.book[open]) .cover {
	transform: rotateY(-135deg);
}
.pages {
	flex-direction: row-reverse;
	display: flex;
	position: absolute;
	top: 5px;
	left: 0;
	background: lightskyblue;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	transform-origin: left;
	transition: all 1s ease;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
body:has(.book[open]) .pages {
	opacity: 1;
	transition: all 2s ease;
}
body:has(.book) .pages {
	opacity: 0;
	transition: all 1s ease;
}
.container-tab {
	background: lightsalmon;
}
.tab {
	display: inline-block;
	padding: 0px 10px;
	font-family: Alegreya Sans SC;
	font-weight: 600;
	align-content: center;
	text-align: center;
	color: #bbcaa2;
	border-radius: 5px;
	background: #f5fffa20;
	transition: color, background 0.5s ease;
}
.tab:focus,
.tab:hover {
	color: #365143;
	background: #9dad6f;
	z-index: 10;
	position: relative;
	transition: color, background 0.5s ease;
}
.content-wrapper {
	position: relative;
	height: 0;
	overflow: hidden;
	top: 10px;
	transition: height 0.4s ease-in-out;
}
.tab:nth-of-type(1):focus ~ .content-wrapper,
.tab:nth-of-type(2):focus ~ .content-wrapper,
.tab:nth-of-type(3):focus ~ .content-wrapper,
.tab:nth-of-type(4):focus ~ .content-wrapper {
	height: 200px;
	width: 100%;
}
.tab:nth-of-type(1):focus ~ .content-wrapper .content:nth-of-type(1),
.tab:nth-of-type(2):focus ~ .content-wrapper .content:nth-of-type(2),
.tab:nth-of-type(3):focus ~ .content-wrapper .content:nth-of-type(3),
.tab:nth-of-type(4):focus ~ .content-wrapper .content:nth-of-type(4) {
	opacity: 1;
	transform: translateY(0);
	background: #191f1470;
	backdrop-filter: blur(5px);
	padding: 10px;
	overflow: auto;
	border: 1px solid #9dad6f50;
	border-radius: 5px;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 0.3s ease, transform 0.3s ease;
}
.content {
	font-family: playpen sans hebrew;
	font-size: 0.9rem;
	font-weight: 500;
	color: #bbcaa2;
}

* {
	box-sizing: border-box;
}
